# Binaries
bin/
*.exe
*.test
*.prof

# OS specific
.DS_Store
Thumbs.db

# Go coverage
coverage.txt
*.out

# Benchmarks
*.pprof
cpu.pprof
mem.pprof

# IDEs
.idea/
.vscode/

# Local dependencies
go.sum
